body {
  margin: 0px;
  text-align: center;
  font-family: "PT Serif", serif;
}

.top-cloud {
  position: absolute;
  top: 140px;
  right: 300px;
}

h1 {
  margin-top: 0px;
  font-family: "Source Serif Pro", serif;
  font-size: 5.625rem; /* 1rem = 1em = 100% = 16px */
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color: #11999e;
  font-weight: normal;
}

.designation {
  margin: 0px;
}

.bottom-cloud {
  position: absolute;
  bottom: 480px;
  left: 280px;
}

.top-container {
  background-color: #e8f9fd;
  position: relative;
  padding: 180px 0px 0px 0px;
}

.middle-container {
}

hr {
  border-style: dotted none none none;
  width: 6%;
  border-width: 7px;
  border-color: #d2f9fa;
  margin-top: 90px;
}

.content {
  width: 35%;
  margin: auto;
}

.sh {
  margin-top: 80px;
}

.skills {
  display: flex;
  justify-content: center;
}

.skill-row {
  margin: auto 70px;
}

.profile {
  margin-top: 30px;
}

.profile_pic {
  height: 300px;
}

.desk_pic {
  height: 90px;
  margin-top: 20px;
}

.c_pic {
  height: 90px;
}

.js_pic {
  height: 90px;
}

.java_pic {
  height: 90px;
}

.phone_pic {
  height: 90px;
  margin-top: 30px;
}

.bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#btn {
  border-radius: 8px;
  background-color: #11cdd4;
  padding: 10px 20px 10px 20px;
  border: none;
  color: white;
  margin: 30px auto;
}

#btn:hover {
  cursor: pointer;
  background-color: #30e3cb;
}

.footer-link {
  height: 30px;
  padding: 0px 40px;
}

.copyright {
  background-color: #11999e;
  color: white;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
